<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(error => { %>
            <p class="alert-error"><%= error.msg %></p>
  <%  }) %>
<% } %>

<% if(success_msg != '') { %>
  <p class="alert-success"><%- success_msg %></p>
<% } %>

<% if(error_msg != '') { %>
  <p class="alert-error"><%- error_msg %></p>
<% } %>

<% if(error != '') { %>
  <p class="alert-success"><%- error %></p>
<% } %>